html, body{
    background-color: white;
    animation: colors 10s infinite;
    transition: 1s;
}
@keyframes colors{
    0% {background-color: white;}
    50% {background-color: red;}
    100% {background-color: white;}
}


@media (max-width: 1400px) {
    html, body{
        background-color: white;
        animation: colors 10s infinite;
        transition: 1s;
    }
    @keyframes colors{
        0% {background-color: white;}
        50% {background-color: red;}
        100% {background-color: white;}
    }
}


@media (max-width: 1200px) {
    html, body{
        background-color: white;
        animation: colors 10s infinite;
        transition: 1s;
    }
    @keyframes colors{
        0% {background-color: white;}
        50% {background-color: red;}
        100% {background-color: white;}
    }
}


@media (max-width: 1000px) {
    html, body{
        background-color: white;
        animation: colors 10s infinite;
        transition: 1s;
    }
    @keyframes colors{
        0% {background-color: white;}
        50% {background-color: red;}
        100% {background-color: white;}
    }
}


@media (max-width: 800px) {
    html, body{
        background-color: white;
        animation: colors 10s infinite;
        transition: 1s;
}
    @keyframes colors{
        0% {background-color: white;}
        50% {background-color: red;}
        100% {background-color: white;}
    }
}


@media (max-width: 600px) {
    html, body{
        background-color: white;
        animation: colors 10s infinite;
        transition: 1s;
}
    @keyframes colors{
        0% {background-color: white;}
        50% {background-color: red;}
        100% {background-color: white;}
    }
}
